apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

commonAnnotations:
    argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

bases:
- github.com/ably77/openshift-testbed-apps/kustomize/manifests/app/operators/opendatahub-operator/base/

resources:
- odh-namespace.yaml
#- cr/kfctl_openshift.v1.2.0.yaml
#- cr/kfdef-cr.yaml